 <div class="parallax-container">
    <div class="parallax"><img src="https://images.unsplash.com/46/unsplash_52c319226cefb_1.JPG?q=80&fm=jpg&s=b07cdc1f522e977fda8cc7ee63848f4d"></div>
  </div>
  <div class="section white">
    <div class="row container">
      <h2 class="header">ZÜRICH OPENAIR</h2>
      <p class="grey-text text-darken-3 lighten-3">Die fünfte Ausgabe des ZÜRICH OPENAIR ging nach vier Tagen mit bestem Festivalwetter erfolgreich zu Ende. Das überzeugende und abwechslungsreiche Programm mit Bands wie The Libertines, Alt-J, Tame Impala, Seeed, Kasabian oder Superstars der Electronic-Riege wie Paul Kalkbrenner, Skrillex oder Fatboy Slim sowie das Traumwetter lockten über 60’000 Musikbegeisterte nach Rümlang. Das neue Cashless System funktionierte einwandfrei, nachdem die ersten kleineren Kinderkrankheiten noch am ersten Abend kuriert werden konnten. Auch rund um das Festival verlief alles reibungslos, verkünden Medical Staff und die Kantonspolizei Zürich.
</p>
      <p class="grey-text text-darken-3 lighten-3">

The Libertines, Seeed, Paul Kalkbrenner, Skrillex, Alt-J, Kasabian, Fatboy Slim, Bastille, Tame Impala, Interpol, The Kooks, Stereophonics, Rudimental, Milky Chance, TV on the Radio, Mighty Oaks, Hot Chip, Solomun, Jungle, Echosmith, Ásgeir, Blood Red Shoes, MK, Gorgon City, Years & Years, SBCR, Siriusmodeselektor, Wolf Alice, Balthazar, Pond, Lo & Leduc, Bear’s Den, Josef Salvat, Shamir, Olympique, Lexy & K-Paul, Aurora, Blaudrun, Jax Jones, Wallis Bird, Lexer, Adriatique, Sascha Braemer, Dabu Fantastic, From Kid, My Name Is George, End, Me.Man.Machine, etc.</p>
  <button class="btn waves-effect waves-light start" type="submit" name="action">Submit
    <i class="material-icons right">send</i>
  </button>
    </div>

  </div>