
 <ul class="card-panel collection currentSong">
           <li class="collection-item avatar" style="padding-left: 98px;">
      <img src="http://i.imgur.com/R08a2b3.jpg" alt="" class="circle" style="
    width: 68px;
    height: 68px;
">
      <span class="title">Dead Inside</span>
      <p>Drones<br>
         Muse
      </p>
      <a href="#!" class="secondary-content">
<img src="https://lh3.googleusercontent.com/UrY7BAZ-XfXGpfkeWg0zCCeo-7ras4DCoRalC_WXXWTK9q5b0Iw7B0YQMsVxZaNB7DM=w300" style="
    max-width: 55px;
">
      </a>
        </li>
        </ul>

<a class="btn-floating btn-large waves-effect waves-light red takePhoto"><i class="material-icons">photo_camera</i></a>
<a class="btn-floating btn-large waves-effect waves-light audioTrack white"><i class="material-icons au" style="color:#000">audiotrack</i>
<i class="material-icons cl" style="color:#000">clear</i>
</a>
<div class="fixed-action-btn infos " style="bottom: 45px; right: 24px;">
    <a class="btn-floating btn-large blue">
      <i class="large material-icons">info</i>
    </a>
    <ul>
      <li class="up"><a class="btn-floating btn-large green map" href="http://i.imgur.com/C1Pgtru.jpg"><i class="material-icons">map</i></i></a></li>
      <li class="up"><a class="btn-floating btn-large red darken-1 pay" href="http://i.imgur.com/QsKQn2s.png"><i class="material-icons">local_play</i></a></li>
    </ul>
  </div>

 
<div class="grid" style="background: black;"> 
  <% _.each(photos, function (photo){%><a class="photo grid-item" href="<%=photo.url %>"><img src="<%=photo.url %>" /></a><% }); %>
  </div>