<div style="background-image:url(https://unsplash.com/photos/08-c5-GxA7M/download);" class="shareBackground">
  <a class="btn-floating btn-large waves-effect waves-light green sendNow"><i class="material-icons">done</i></a>
        

  <% _.each(avatars, function (avatar){%>
 <div class="face" style="top:<%=avatar.top %>; left:<%=avatar.left %>"><img src="<%=avatar.url %>" /></div>

  <% }); %>

</div>